* {
    font-family: JetBrainsMonoNL-Thin;
    src: url("./fonts/JetBrainsMonoNL-Thin.ttf");
    font-weight: lighter;
    }

@font-face {
    font-family: 'JetBrainsMonoNL-Thin';
    src: url('./fonts/JetBrainsMonoNL-Thin.eot');
    src: url('./fonts/JetBrainsMonoNL-Thin.eot#iefix') format('embedded-opentype'),
            url('./fonts/JetBrainsMonoNL-Thin.woff') format('woff'),
            url('./fonts/JetBrainsMonoNL-Thin.ttf') format('truetype'),
            url('./fonts/JetBrainsMonoNL-Thin.svg') format('svg');
    font-weight: lighter;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding-top: 4em;
    text-align: center;
    background-color: white;
}

button {
    background-color: #D63F09;
    border-width: 0;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    color: #ececec;
    font-size: 18px;
}

h1 {
    font-style: bold;
    margin: 10px;
}

h2 {
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 10px
}

p, h2 {
    margin-left: 10%;
    margin-right: 10%;
}

.archive-dropdown {
    background-color: white;
    color: black;
}

.carousel-images {
    width: 300px;
    margin-top: 20px;
}


.carousel-item {
    margin-bottom: 100px;
}

.carousel-section-header {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 70px;
}


.footer_icons {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.infobody {
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 15px;

}

.joinclubbuttons {
    background-color: #DA704A;
    margin-left: 0px;
    margin-right: 0px;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.officer-name {
    padding-top: 20px;
    color: #DA704A;
    font-size: 20px;
    text-align: left;
    margin-left: 0px;

}

.officer-title {
    padding-top: 20px;
    font-style: italic;
    font-size: 20px;
    text-align: right;
    margin-right: 0px;

}
.orange-body-text {
    color: #DA704A;
    font-size: 20px;
}

.pagebody {
    background-color: #ECECEC;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.pagetitle {
    background-color: #DA704A;
    color: white;
    border-radius: 15px;
    padding-bottom: 40px;
    padding-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
    padding-left: 50px;
    font-size: 50px;
}

.past_themes {
    color: #D63F09;
    font-size: 30px;
}

.place-title {
    padding-top: 40px;
}

#beaverhacks {
    font-size: 40px;
    color: white;
}

#circlelogo {
    display: block;
    width: 350;
    height: 400px;
    padding-top: 50px;
    margin: auto;
}

#dropdown-button {
    background-color: #DA704A;
    border: #DA704A;
}

#footer_text_club {
    font-style: italic;
    font-size: 15px;
    color: #A0A0A0;
    padding-bottom: 25px;
}




